{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 120,
                "tabWidth": 2
            }
        }
    ]
}
